<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockly Unix</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="homePage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        fetch('/auth-token')
          .then((response) => response.json())
          .then((data) => {
            const token = data.authToken;
            const user = data.user;
            if (!token) {
              // User is authenticated
              document.getElementById('loginHomePageButton').style.display = 'block';
              document.getElementById('registerHomePageButton').style.display = 'block';
              document.getElementById('registerSecondButtonHomePage').style.display = 'inline-block';
              document.getElementById('getStartedButton').style.display = 'inline-block';
              console.log('Token:', token);
            } else {
              document.getElementById('continueWithBlocklyButton').style.display = 'block';
              document.getElementById('logoutHomePageButton').style.display = 'block';
              document
                .getElementById('logoutHomePageButton')
                .addEventListener('click', () => {
                  event.preventDefault();
                  document.getElementById('logoutForm').submit();
                });
            }
          })
          .catch((error) => {
            console.error('Error fetching the token:', error);
          });
      });
    </script>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand d-flex align-items-center">
                <img src="img/blockly_72.png" alt=""  class="me-2">
                <a class="navbar-brand" href="/">Blockly Unix</a>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/blockly_unix">Blockly</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tutorials">Tutorials</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <a href="/login" class="btn btn-primary me-2" id="loginHomePageButton" style="display: none;">Login</a>
                    <a href="/register" class="btn btn-outline-primary me-2" id="registerHomePageButton" style="display: none;">Register</a>

                </div>
                <div class="d-flex align-items-center">
                  <a href="/blockly_unix" class="btn btn-primary me-2" id="continueWithBlocklyButton" style="display: none;">Continue Where You Left Off</a>
                  <a href="/" class="btn btn-outline-primary me-2" id="logoutHomePageButton" style="display: none;">Logout</a>
                  <form id="logoutForm" action="/logout" method="DELETE" style="display: none;">
                    <input type="hidden" name="_method" value="DELETE" />
                  </form>
              </div>
            </div>
        </div>
    </nav>

    <!-- ======= Hero Section ======= -->
    <section id="hero">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg- d-flex flex-column justify-content-center" data-aos="fade-up">
              <div>
                <h1>Build complex <span class="highlight"> Unix pipelines</span>, block by block</h1>
                <h2>This platform allows you to construct powerful data processing pipelines visually. By dragging and dropping blocks, you can easily create Unix-based workflows for your data processing needs.</h2>
                <a href="/blockly_unix" class="btn-get-started scrollto" id="getStartedButton" style="display: none;">Get Started</a>
                <a href="/register" id="registerSecondButtonHomePage" class="btn-get-login" style="display: none;">Register</a>
              </div>
            </div>
            <div class="col-lg-10 order-2 order-lg-2 hero-img" data-aos="fade-left">
              <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

      </section><!-- End Hero -->


        <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row align-items-center">
            <div class="col-lg-6" data-aos="zoom-in">
              <img src="https://developers.google.com/static/blockly/images/landing/web_856.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
              <div class="content pt-6 pt-lg-4">
                <h3>Blockly for Unix in Web</h3>
                <p class="fst-italic">

                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Lightweight and efficient</li>
                  <li><i class="bi bi-check-circle"></i> Compatible with all major browsers</li>
                  <li><i class="bi bi-check-circle"></i> Blockly for Unix is nearly 100% client-side</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

    <!-- Main Content -->
    <main class="flex-fill d-flex align-items-center">
        <div class="container ">
            <div class="row h-100">

                    <div class="text-center">
                        <div class="text-center">
                            <h1 >Create Your Unix Pipelines with Blockly Unix</h1>
                            <p class="lead">Creating Unix pipelines has never been easier!</p>
                        </div>
                        <!-- Image Container -->
                        <div class="image-container">
                            <img src="img/blockly_photo.png" alt="Blockly Unix" class="img-fluid" style="width: 700px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
 <br>
 <br>
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title text-center" data-aos="fade-up">
        <h1>Why Blockly Unix</h1>
        <br>
        <p>Blockly Unix is the perfect starting point for those looking to learn Unix. It combines the power of Unix tools with an intuitive, block-based interface, making it easier than ever to grasp the fundamentals of Unix while building real-world data processing pipelines.</p>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
          <div class="icon-box icon-box-pink">
            <div class="icon">
              <img src="https://developers.google.com/static/blockly/images/icons/robust-library_72.png" alt="Lorem Ipsum"  style="width: 50px; height: 50px;"/>
            </div>
            <h4 class="title"><a href="">Interactive Tutorials</a></h4>
            <p class="description">Learn and get started quickly with interactive tutorials.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <img src="https://developers.google.com/static/blockly/images/icons/visual-interface_72.png" alt="Lorem Ipsum"  style="width: 50px; height: 50px;"/>
            <h4 class="title"><a href="">Visual Programming</a></h4>
            <p class="description">Use a drag-and-drop interface to build complex pipelines effortlessly.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <img src="https://developers.google.com/static/blockly/images/icons/cross-platform.png" alt="Lorem Ipsum"  style="width: 50px; height: 50px;"/>
            <h4 class="title"><a href="">Cross-platform</a></h4>
            <p class="description">Blockly for Unix provides cross-platform support, allowing users to create and execute commands across different operating systems without limitations.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-world"></i></div>
            <img src="https://developers.google.com/static/blockly/images/icons/codelabs.svg" alt="Lorem Ipsum"  style="width: 50px; height: 50px;"/>
            <h4 class="title"><a href="">Visual interface</a></h4>
            <p class="description">Blockly for Unix offers a visual interface, enabling users to build and execute commands easily without the need for complex scripting.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
  <br>
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container">

    <div class="section-title text-center">
      <h1>Frequently Asked Questions</h1>
    </div>

    <ul class="faq-list">

      <li>
        <a data-bs-toggle="collapse" class="collapsed question" href="#faq1">Who is Blockly for?
          <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Whether you are a student, educator, or professional interested in learning Unix, Blockly Unix offers an intuitive, block-based approach to mastering Unix fundamentals.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" class="collapsed question" href="#faq2">What are some of the benefits of block-based coding?
          <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Block-based coding allows users to apply programming principles without having to worry about syntax or the intimidation of a blinking cursor on the command line.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" class="collapsed question" href="#faq3">What is Block-Based Coding?
          <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Block-based coding is a visual programming language where code is represented by blocks. These blocks fit together like puzzle pieces.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section><!-- End Frequently Asked Questions Section -->



<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center">

        <!-- About Section -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="footer-info">
            <h3>Blockly Unix</h3>
            <p>
              An open-source project designed to make learning Unix easy and accessible through block-based coding.
            </p>
            <p>
              <strong>Location:</strong> 76 Patision Street, Athens<br>
              <strong>Email:</strong> <a href="mailto:blocklyunix@aueb.gr">blocklyunix@aueb.gr</a><br>
            </p>
          </div>
        </div>

        <!-- Useful Links Section -->
        <div class="col-lg-4 col-md-6 mb-4 ms-lg-auto">
          <div class="footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html">Blockly Unix</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/tutorials">Tutorials</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/simosathan9/blockly_unix">GitHub Repository</a></li>
            </ul>
          </div>
        </div>


        <!-- Contribute Section -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="footer-newsletter">
            <h4><i class="bx bxl-github"></i> Contribute on GitHub</h4>
            <p>Blockly Unix is an open-source project. Visit our <a href="https://github.com/AUEB-BALab/blockly_unix">GitHub repository</a> to explore the source code, report issues, and contribute to the project.</p>
            <a href="https://github.com/AUEB-BALab/blockly_unix" class="btn btn-outline-primary">Visit GitHub</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="copyright">
      &copy; <strong>Blockly Unix</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> | Powered by GitHub
    </div>
  </div>
</footer><!-- End Footer -->


<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
