<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="description" content="Login - Register Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="homePage.css">
    <style>
        body {
            background-color: #F2F2F2;
        }
        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .fade-out {
            animation: fadeOut 1.5s forwards;
        }

        .fade-in {
            animation: fadeIn 1.5s forwards;
        }
    </style>
</head>

<body>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand d-flex align-items-center">
            <img src="img/blockly_72.png" alt=""  class="me-2">
            <a class="navbar-brand" href="/">Blockly Unix</a>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/blockly_unix">Blockly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tutorials">Tutorials</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div id="container-register">
        <div id="title">
            <i class="material-icons lock">lock</i> Register
        </div>

        <form action="/register" method="POST">
            <% if (errorMessages.length > 0) { %>
                <div class="alert alert-danger">
                    <% errorMessages.forEach(function(message) { %>
                        <strong><%= message %></strong><br>
                    <% }) %>
                </div>
            <% } %>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input id="email" name="email" placeholder="Email" type="email" required class="validate" autocomplete="on">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="username" name="username" placeholder="Username" type="text" required class="validate" autocomplete="on">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" name="password" placeholder="Password" type="password" required class="validate" autocomplete="on">
            </div>
            <input type="submit" value="Register" />
        </form>
        <!-- Divider with text -->
        <div class="divider">
            <hr>
            <span>Register with 3rd Party</span>
            <hr>
        </div>

        <!-- Login with Google button -->
        <div class="login-with-google">
            <a href="/auth/google" class="btn btn-danger">Register with Google</a>
        </div>
        <div class="register">
            <span class="loginRegisterSpan" style="color: #000">Do you already have an account?</span>
            <a href="/login"><button id="register-link">Log In here</button></a>
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
            const links = document.querySelectorAll('a');
            links.forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    const href = this.href;

                    // Add the fade-out class to the body
                    document.body.classList.add('fade-out');

                    // Wait for the animation to finish before navigating
                    setTimeout(() => {
                        window.location.href = href;
                    }); // Match this duration to the CSS animation duration
                });
            });

            // Add fade-in class when the page loads
            document.body.classList.add('fade-in');
        });
</script>

</html>
